# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RMarkdown files
*_cache/
*_files/

# Other
LectureSlides/Lecture10/ggmapTemp.png

# Mac invisible files
*.DS_Store